<div id='firebaseui-auth-container' class='modal-auth'>
  <input
    type='email'
    id='email_auth'
    class='modal-auth__input js-auth-register'
    placeholder='E-mail'
  />
  <input
    type='password'
    id='password-auth'
    class='modal-auth__input js-auth-login'
    placeholder='Password'
  />
  <div class='button-container js-auth-button'>
    <button class='button-auth js-btn-register'>
      Register
    </button>
    <button class='button-auth js-btn-login'>
      Log in
    </button>
  </div>
</div>