<div class='block-arrow'>
  <a href='#header' class='button-back js-button-up'>
    <svg class='button-back__icon'>
      <use href={{up}}></use>
    </svg>
  </a>
  <a href='#footer' class='button-back js-button-down'>
    <svg class='button-back__icon'>
      <use href={{down}}></use>
    </svg>
  </a>
</div>