.container {
  width: 100%;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: calc($bp-tablet - 1)) {
    max-width: $bp-mobile;
    padding: 0 75 px;
  }
  @media screen and (min-width: 768px) {
    grid-gap: 30px;
  }

  @media screen and (min-width: $bp-mobile) {
    max-width: $bp-mobile;
  }

  @media screen and (min-width: $bp-desktop) {
    max-width: $bp-desktop;
    padding: 0 70px;
  }
}
