//    BreakPoints
$bp-mobile: 320px;
$bp-mobile-max: 767px;
$bp-tablet: 768px;
$bp-desktop-min-one: 1023px;
$bp-desktop: 1024px;
$bp-desktop-m-w: 1366px;
$bg-color: #000000;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;

$primary-white-color: #ffffff;
$primary-black-color: #000000;
$primary-color: #545454;
$accent-color: #ff6b01;
$bg-footer: #f7f7f7;
$specification-color: #8c8c8c;

$color-valid: rgb(14, 181, 14);
$color-invalid: red;
$color-team: rgba(0, 0, 0, 0.2);

$dark-background: #000000;
