.button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  &.lang-change {
    display: block;
    text-align: center;

    & .button {
      margin-bottom: 20px;
    }

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      justify-content: center;
      align-items: center;
      & .button {
        margin-bottom: 0;
      }
    }
  }
}

.watched-button {
  margin-right: 15px;
}
