.header .container {
  position: relative;
  padding-top: 58px;
  padding-bottom: 96px;
  @media screen and (min-width: $bp-tablet) {
    width: 768px;
    padding-left: 70px;
    padding-right: 70px;
  }

  @media screen and (min-width: $bp-desktop) {
    width: 1024px;
  }
}

.header-home {
  transition: $duration $timing-function;
  background-image: url(../images/bg-header-mobile.jpg);
  background-color: $bg-color;

  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/bg-header-mobile@2x.jpg);
  }

  @media screen and (min-width: $bp-tablet) {
    background-image: url(../images/bg-header-tablet.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/bg-header-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: $bp-desktop) {
    background-image: url(../images/bg-header-desktop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/bg-header-desktop@2x.jpg);
    }
  }
}
.header-library {
  background-image: url(../images/bg-header-mobile2.jpg);
  background-color: $bg-color;

  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/bg-header-mobile2@2x.jpg);
  }

  @media screen and (min-width: $bp-tablet) {
    background-image: url(../images/bg-header-tablet2.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/bg-header-tablet2@2x.jpg);
    }
  }

  @media screen and (min-width: $bp-desktop) {
    background-image: url(../images/bg-header-desktop2.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/bg-header-desktop2@2x.jpg);
    }
  }
}

.side-nav__header {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 40px;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;

  color: $primary-white-color;
}

.header_link {
  position: absolute;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;

  @media screen and (min-width: $bp-tablet) {
    display: flex;
    align-items: baseline;
    padding-right: 20px;
  }
}

.header_link:hover {
  & .logo__header {
    color: $accent-color;
    transform: scale(1.1);
  }
}

.logo-img {
  @media screen and (min-width: $bp-tablet) {
    margin-right: 10px;
  }
}

@keyframes films1 {
  from {
    transform: translateY(30%);
  }

  to {
    transform: translateY(160%);
  }
}

@keyframes films2 {
  from {
    transform: translateY(-156%);
  }

  to {
    transform: translateY(-22%);
  }
}
@keyframes films3 {
  from {
    transform: translateY(-344%);
  }

  to {
    transform: translateY(-206%);
  }
}

@keyframes films4 {
  from {
    transform: translateY(20%);
  }

  to {
    transform: translateY(150%);
  }
}
@keyframes films5 {
  from {
    transform: translateY(-162%);
  }

  to {
    transform: translateY(-28%);
  }
}

@keyframes films6 {
  from {
    transform: translateY(-344%);
  }

  to {
    transform: translateY(-206%);
  }
}

.logo-block {
  display: block;
  height: 24px;
  overflow: hidden;
  & img {
    display: block;
  }
}

.js-logo1 {
  transform: translateY(30%);
  animation-name: films1;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  @media screen and (min-width: $bp-tablet) {
    transform: translateY(20%);
    animation-name: films4;
  }
}

.js-logo2 {
  transform: translateY(-156%);
  animation-name: films2;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  @media screen and (min-width: $bp-tablet) {
    transform: translateY(-162%);
    animation-name: films5;
  }
}

.js-logo3 {
  transform: translateY(-344%);
  animation-name: films3;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  @media screen and (min-width: $bp-tablet) {
    transform: translateY(-344%);
    animation-name: films6;
  }
}

.logo__header {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;
  color: $primary-white-color;

  @media screen and (max-width: $bp-mobile-max) {
    display: none;
  }
}

.btn__header {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  overflow: hidden;
  color: $primary-white-color;
  @media screen and (min-width: $bp-tablet) {
    margin-right: 20px;
  }
}

.btn__header:hover {
  color: $accent-color;
  transform: scale(1.5, 1.5);
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.logout-span:hover {
  color: $accent-color;
}

.btn-text {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40 px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  color: $primary-white-color;
}

.btn__header--current-page {
  position: relative;

  &::after {
    content: '';
    display: block;
    bottom: -3px;
    left: 0;

    height: 3px;
    width: 100%;

    background-color: $accent-color;
  }
}

.search-form {
  margin-right: auto;
  width: 280px;

  margin-left: auto;
  position: relative;
  text-align: center;

  @media screen and (min-width: $bp-tablet) {
    width: 336px;
  }
}

.input_header {
  width: 100%;
  font-size: 14px;
  line-height: 1.14;
  background-color: initial;
  border: transparent;
  border-bottom: 1px solid $primary-white-color;
  font-family: Roboto, sans-serif;
  color: $primary-white-color;
  transition: border-bottom 0.25s $timing-function;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  background-color: initial;
  border: transparent;
  color: $primary-white-color;
  transition: color 0.25s $timing-function;
}

.btn-cover-library {
  border: 2px solid $accent-color;
}

.login-img {
  display: flex;
  justify-content: flex-end;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  background-color: $primary-white-color;
  margin-right: 10px;
}

.btn-login__header {
  display: flex;
}

.btn-log-out {
  margin-left: 38px;
}

.search-img {
  cursor: pointer;
}
