.card__js-killer-container--modal {
  display: flex;
  justify-content: center;
  height: 800px;
  overflow: scroll;
  @media screen and (min-width: $bp-tablet) {
    min-width: 500px;
    overflow: scroll;
    // margin-top: 20px;
  }
}

.js-killers-theme__icon {
  width: 14px;
  height: 14px;
  fill: $accent-color;
}

// .button__js-killers-modal {
//   border: 2px solid $color-team-dot;
//   background-color: $bg-footer;
//   box-shadow: 4px 4px 14px $specification-color;
//   width: 80px;
//   height: 80px;
//   color: $primary-black-color;
//   font-size: medium;
//   font-weight: bold;

//   &:not(:last-child) {
//     margin-right: 30px;
//   }
// }

// .button__container-js-killers-modal {
//   display: flex;
//   justify-content: center;
//   margin: 10px auto;
// }

.killers__header {
  display: flex;
  justify-content: center;
  color: $accent-color;
  margin-bottom: 30px;
  border-bottom: thick double $color-team-dot;
  padding: 10px;
  @media screen and (min-width: $bp-tablet) {
    font-size: 40px;
  }
}

.wanted {
  color: $color-invalid;
  font-weight: bold;
  font-size: 20px;

  @media screen and (min-width: $bp-tablet) {
    font-size: 30px;
  }
}

.killers__list {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.killers__title {
  font-weight: 400px;
  padding: 5px;
}

.post-wrap {
  background: $primary-white-color;
  box-shadow: 0 1px 2px $color-team;
  max-width: 220px;
  margin: 20px auto 0;
  padding: 5px;
  text-align: center;
}
.post-wrap:hover img {
  transform: scale(1.1);
  cursor: pointer;
}
.post-inner {
  margin: -25px 20px 20px;
  padding: 10px;
  background: $accent-color;
  position: relative;
}
.post-inner:after {
  display: block;
  content: '';
  position: absolute;
  left: -10px;
  right: -10px;
  bottom: -10px;
  top: -10px;
  border: 3px solid $color-team-dot;
}
.dot {
  height: 5px;
  width: 5px;
  background: $color-team-dot;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  vertical-align: super;
}

.dot:before,
.dot:after {
  content: '';
  height: 5px;
  width: 5px;
  background: $color-team-dot;
  border-radius: 50%;
  position: absolute;
  top: 0;
}
.dot:before {
  left: 0px;
}
.dot:after {
  right: 0px;
}
.killers__title {
  color: $bg-footer;
  display: inline-block;
  font-size: medium;
  letter-spacing: 2px;
}
.killers__position {
  font-size: small;
  color: $color-team-dot;
  font-weight: bold;
}

.wrapper-img {
  position: relative;
  max-width: 300px;
}
.wrapper-img .img-hide {
  opacity: 0;
}
.wrapper-img:hover .img-hide {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}
