.modal.modal-auth {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.modal-auth__input {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid $accent-color;
  color: $primary-black-color;
  margin-bottom: 30px;
  outline: none;
  background-color: transparent;

  .modal.dark-modal.modal-auth & {
    color: $primary-white-color;
  }

  &::placeholder {
    color: $accent-color;
  }

  &.invalid {
    border-bottom: 2px solid $color-invalid;
  }

  &.valid {
    border-bottom: 2px solid $color-valid;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px rgb(0, 0, 0, 0.31) inset !important;
}

.button-auth {
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 38px;
  padding-right: 38px;
  min-width: 136px;
  font-weight: 500;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: $accent-color;
  background: transparent;
  border: 1px solid $accent-color;
  border-radius: 5px;
  transition: $duration $timing-function;

  &:not(:last-child) {
    margin-right: 30px;
    @media screen and (min-width: $bp-tablet) {
      margin-right: 10px;
    }
  }

  .lang-change &:not(:last-child) {
    margin-bottom: 30px;
    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 0;
    }
  }

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $accent-color;
    box-shadow: (0px 8px 43px rgba(255, 107, 1, 0.6));

    cursor: pointer;
  }

  &:disabled {
    opacity: 0.5;
  }
}
