.parametr {
  @media screen and (max-width: $bp-mobile-max) {
    // display: none;
    // display: block;
  }
  @media screen and (min-width: $bp-tablet) {
    // :not(:first-child, :last-child){
    //   margin-left: 5px;
    // }
  }
  text-align: center;
  display: flex;
  // position: absolute;
  position: relative;
  width: 100%;
  // margin-top: 30px;
}

.year-search {
  border-radius: 5px;
  border: 0;
  text-align: center;
  outline: none;
}

.genre-wrapper,
.sort-wrapper,
.year-wrapper {
  color: $primary-white-color;
  @media screen and (max-width: $bp-desktop) {
    margin-left: 115px;
  }
  @media screen and (max-width: $bp-desktop-min-one) {
    margin-left: 10px;
  }
}
.sort-wrapper {
  @media screen and (max-width: $bp-mobile-max) {
  }
}
.temp-genre {
  @media screen and (max-width: $bp-mobile-max) {
    margin-left: 65px;
  }
}

.data-contain {
  @media screen and (max-width: $bp-mobile-max) {
    margin-left: 0px;
  }
}

.temp-years {
  @media screen and (max-width: $bp-mobile-max) {
    margin-left: 30px;
  }
}
.year-wrapper,
.rating-wrapper {
  margin-bottom: 10px;
}
.year-wrapper,
.rating-wrapper,
.genre-wrapper {
  @media screen and (max-width: $bp-mobile) {
    // position: absolute;
    display: block;
  }
  margin-left: 10px;
}
.sort-wrapper,
.genre-wrapper {
  @media screen and (max-width: $bp-mobile-max) {
    margin-bottom: 10px;
  }
}
.category-list,
.year-list {
  text-align: center;
  // position: absolute;
  z-index: 4;
}

.year-list,
.category-list {
  height: 104px;
  overflow: hidden;
  overflow-y: scroll;
  background: $filterColor;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: $scrollbar;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
}
::-webkit-scrollbar-thumb {
  background: $filterColor;
  border-radius: 8px;
  border: 3px solid $scrollbar;
}

::-webkit-scrollbar-thumb:hover {
  background: $filterColor;
}
.g .category-list-item {
  &:hover {
    cursor: pointer;
    background-color: $accent-color;
    transition: 250ms;
  }
}

.year-list-item {
  background-color: $filterColor;
  color: $primary-white-color;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;

  &:hover {
    cursor: pointer;
    background-color: $accent-color;
    transition: 250ms;
  }
}
.sort,
.genre,
.year {
  @media screen and (max-width: $bp-mobile-max) {
    text-align: center;
    padding: 3px;
    background-color: $filterColor;
    color: $primary-white-color;
    border-radius: 5px;
    font-weight: 200;
    transition: 250ms;
  }
  text-align: center;
  padding: 5px;
  background-color: $filterColor;
  color: $primary-white-color;
  border-radius: 5px;
  font-weight: 500;
  transition: 250ms;
}
.sort,
.genre,
.year,
.year-list,
.category-list,
.sort-list {
  @media screen and (max-width: $bp-mobile-max) {
  }
  width: 122px;
}
.sort:hover,
.genre:hover,
.year:hover {
  background-color: $accent-color;
  cursor: pointer;
}

.category-list-item,
.year-list-item {
  &:hover {
    cursor: pointer;
    background-color: $accent-color;
  }
  padding: 5px;
  color: $bg-color;
}

.filter-buttons {
  position: absolute;
  top: 0%;
  right: 16%;
  background-color: $bg-color;
  z-index: 99;
  padding: 30px;
  border-radius: 10px;
  transform: scale(1, 1);
  transform-origin: top right;
  transition: $duration $timing-function;

  &.visually-hidden {
    transform: scale(0, 0);
  }

  @media screen and (min-width: $bp-tablet) {
    padding: 0;
    background: transparent;
    display: flex;
    right: 8%;
    top: 20px;
    transform-origin: right;
  }

  @media screen and (min-width: $bp-desktop) {
    right: 6%;
  }
}

.svg-link {
  border: none;
  background: transparent;
}

.svg-icon {
  position: absolute;
  right: 0;
  display: flex;
  margin-left: auto;
  top: 10px;
}

.svg-item {
  @media screen and (max-width: $bp-mobile) {
    width: 30px;
    height: 30px;
  }
  fill: $scrollbar;
  width: 40px;
  height: 40px;
  &:hover {
    fill: $accent-color;
  }
}

.disable {
  pointer-events: none;
  opacity: 0.2;
  color: gray;
}
.checked {
  border-radius: 9px 9px 0 0;
}
.is_hidden {
  opacity: 0;
  transition: all 0.3s;
}

// ******************************
// .menu {
//   // position: fixed;
//   // top: 50%;
//   // left: 50%;
//   height: 11rem;
//   width: 11rem;
//   transform: translateX(-50%) translateY(-50%);
//   filter:url('#goo');

//   .item {
//       position: absolute;
//       // top: 11rem;
//       // left: 24rem;
//       color: #ffffff;
//       text-align: center;
//       transition: transform 600ms cubic-bezier(.89,.34,.2,.83);

//       &.-open-menu {
//           z-index: 1;
//           transition: transform 300ms cubic-bezier(.89,.34,.2,.83);
//           transition-delay: 300ms;
//       }

//       &:nth-of-type(2) { transition-delay: 0; }
//       &:nth-of-type(3) { transition-delay: 50ms; }
//       &:nth-of-type(4) { transition-delay: 100ms; }
//       &:nth-of-type(5) { transition-delay: 150ms; }
//       &:nth-of-type(6) { transition-delay: 200ms; }
//       &:nth-of-type(7) { transition-delay: 250ms; }
//   }

//   &.-opened {
//       .item {
//           // &.-open-menu {
//           //     transform: scale(0);
//           // }

//           &:nth-of-type(2) { transform: translateX(4rem);                      }
//           &:nth-of-type(3) { transform: translateX(2rem) translateY(3.5rem);   }
//           &:nth-of-type(4) { transform: translateX(-2rem) translateY(3.5rem);  }
//           &:nth-of-type(5) { transform: translateX(-4rem);                     }
//           &:nth-of-type(6) { transform: translateX(-2rem) translateY(-3.5rem); }
//           &:nth-of-type(7) { transform: translateX(2rem) translateY(-3.5rem);  }
//       }
//   }
// }
// @keyframes bounce {
//   0% {
//     transform: translateX(50%);
//   }
//   100% {
//     transform: translateX(-50%);
//   }
// }
// анимация

// --------- Swoosh to the RIGHT -----------
// 0%{
//   transform: translate(0,0) scale(1,1);
// }
// 1%{
//   transform: translate(0,0) scale(1,1);
// }
// 4%{
//   transform: translate(140px,0) scale(8,1);
// }
// 5%{
//   transform: translate(280px,0) scale(1,1);
// }
// 6%{
//   transform: translate(290px,0) scale(.5,2);
// }
// 8%{
//   transform: translate(275px,0) scale(1.25,.9);
// }
// 10%{
//   transform: translate(280px,0) scale(1,1);
// }

// // ------- Beam DOWN --------
// 19%{
//   transform: translate(280px,140px) scale(.4,8);
// }
// 21%{
//   transform: translate(280px,140px) scale(.4,8);
// }
// 22%{
//   transform: translate(280px,280px) scale(1,1);
// }

// // --------- STEPS to the LEFT -----------
// 24%{
//   transform: translate(280px,280px);
// }
// 25%{
//   transform: translate(260px,272px) scale(1,1) rotate(-45deg);
// }
// 27%{
//   transform: translate(240px,280px) scale(1,1) rotate(-90deg);
// }
// 27.1%{
//   transform: translate(240px,286px) scale(1.3,.7) rotate(-90deg);
// }
// 29%{
//   transform: translate(240px,280px) scale(1,1) rotate(-90deg);
// }

// 33%{
//   transform: translate(220px,272px) scale(1,1) rotate(-135deg);
// }
// 35%{
//   transform: translate(200px,280px) scale(1,1) rotate(-180deg);
// }
// 35.1%{
//   transform: translate(200px,286px) scale(1.3,.7) rotate(-180deg);
// }
// 38%{
//   transform: translate(200px,280px) scale(1,1) rotate(-180deg);
// }

// 42%{
//   transform: translate(180px,272px) scale(1,1) rotate(-225deg);
// }
// 44%{
//   transform: translate(160px,280px) scale(1,1) rotate(-270deg);
// }
// 44.1%{
//   transform: translate(160px,286px) scale(1.3,0.7) rotate(-270deg);
// }
// 46%{
//   transform: translate(160px,280px) scale(1,1) rotate(-270deg);
// }

// 49%{
//   transform: translate(140px,272px) scale(1,1) rotate(-315deg);
// }
// 51%{
//   transform: translate(120px,280px) scale(1,1) rotate(-360deg);
// }
// 51.1%{
//   transform: translate(120px,286px) scale(1.3,0.7) rotate(-360deg);
// }
// 53%{
//   transform: translate(120px,280px) scale(1,1) rotate(-360deg);
// }

// 56%{
//   transform: translate(100px,272px) scale(1,1) rotate(-405deg);
// }
// 58%{
//   transform: translate(80px,280px) scale(1,1) rotate(-450deg);
// }
// 58.1%{
//   transform: translate(80px,286px) scale(1.3,0.7) rotate(-450deg);
// }
// 60%{
//   transform: translate(80px,280px) scale(1,1) rotate(-450deg);
// }

// 63%{
//   transform: translate(60px,272px) scale(1,1) rotate(-495deg);
// }
// 65%{
//   transform: translate(40px,280px) scale(1,1) rotate(-540deg);
// }
// 65.1%{
//   transform: translate(40px,286px) scale(1.3,0.7) rotate(-540deg);
// }
// 67%{
//   transform: translate(40px,280px) scale(1,1) rotate(-540deg);
// }

// 70%{
//   transform: translate(20px, 272px) scale(1,1) rotate(-585deg);
// }
// 73%{
//   transform: translate(0, 280px) scale(1,1) rotate(-630deg);
// }
// 73.0001%{
//   transform: translate(0, 280px) rotate(0deg);
// }

// -------- RACE to the TOP ---------
// 75%{
//   transform: translate(0,280px) scale(1,1) skew(0,0);
// }
// 80%{
//   transform: translate(0,270px) scale(1,1) skew(0,1deg);
// }
// 85%{
//   transform: translate(0,0) scale(1,1) skew(0,30deg);
// }
// 85.1%{
//   transform: translate(0,0) scale(1,1) skew(0,0);
// }
// 86%{
//   transform: translate(0,-16px) scale(1.9,0.3) skew(0,0);
// }
// 90%{
//   transform: translate(0,2px) scale(0.9,1.1) skew(0,0);
// }
// 95%{
//   transform: translate(0,0) scale(1,1);
// }

// **
