.parametr {
  
  align-items: center;
  display: flex;
  width: 100%;
  margin-top: 30px;
 
}

.year-search {
  border-radius: 5px;
  border: 0;
  text-align: center;
  outline: none;
}

.genre-wrapper,
.sort-wrapper,
.year-wrapper {
  color: white;
  
}
.genre-wrapper,
.year-wrapper{
  margin-left: 5px;
}

.sort-wrapper,
.genre-wrapper {
  @media screen and (max-width: $bp-mobile-max) {
    margin-bottom: 10px;
  }
}
.category-list,
.sort-list,
.year-list {
  text-align: center;
  position: absolute;
  z-index: 4;
}

.year-list,
.category-list {
  height: 104px;
  overflow: hidden;
  overflow-y: scroll;
}

.category-list-item,
.sort-list-item,
.year-list-item {
  background-color: black;
  &:hover {
    cursor: pointer;
    background-color: $accent-color;
  }
}
.sort,
.genre,
.year {
  text-align: center;
  padding: 5px;
  background-color: #818181b0;
  color: $primary-white-color;
  border-radius: 9px;
  font-weight: 500;
  transition: 250ms;
}
.sort,
.genre,
.year,
.year-list,
.category-list,
.sort-list {
  width: 122px;
}
.sort:hover,
.genre:hover,
.year:hover {
  background-color: $accent-color;
  cursor: pointer;
}
.sort-list-item,
.category-list-item,
.year-list-item {
  padding: 5px;
  background-color: white;
  color: black;
}

.svg-icon{
  display: flex;
  margin-left: auto;
}
.svg-item{
  fill: $accent-color;
  width: 50px;
  height: 50px;
}
.svg-filter{

}