.tui-pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

.tui-page-btn {
  height: 40px;
  width: 40px;
  padding: 12px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: $primary-color;
  transition: $timing-function $duration;
  &:hover,
  :focus {
    background-color: $accent-color;
  }
  border: 0;
}

.tui-next-is-ellip,
.tui-prev-is-ellip {
  padding: 9px 15px;
}

.tui-next,
.tui-prev {
  background-repeat: no-repeat;
  background-position: center;
}

.tui-prev {
  background-image: url(../images/arrow-left.svg);
  background-color: $bg-footer;
}

.tui-next {
  background-image: url(../images/arrow-right.svg);
  background-color: $bg-footer;
}

.tui-is-selected {
  background-color: $accent-color;
  color: $primary-white-color;
}

@media screen and (max-width: $bp-mobile-max) {
  .tui-prev-is-ellip,
  .tui-next-is-ellip {
    display: none;
  }
}

.tui-first {
  background-color: $bg-footer;
  margin-right: 4px;
}
.tui-last {
  background-color: $bg-footer;
  margin-left: 4px;
}

// .tui-last,
// .tui-first {
//   display: none;
// }

.isHidden {
  display: none;
}
