.modal {
  margin: 0 auto;
  max-width: 450px;
  width: 100%;
  overflow-y: auto;

  @media screen and (min-width: $bp-tablet) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 618px;
    max-height: 100%;
    overflow-y: auto;
  }
  @media screen and (min-width: $bp-desktop) {
    max-width: 882px;
  }

  background-color: $primary-white-color;

  transition: transform $duration $timing-function;

  .modal__thumb {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
  }

  .modal__button {
    width: 30px;
    height: 30px;
    padding: 0;

    cursor: pointer;

    fill: $primary-black-color;
    background-color: $primary-white-color;
    border: 1px solid $primary-white-color;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: $duration;
    transition-timing-function: $timing-function;

    &:hover,
    &:focus {
      background-color: $accent-color;
    }
  }

  &.modal-auth {
    max-width: 480px;
    height: 290px;
  }
}
